<app-first></app-first>

<!-- <form>
        <table>
          <tr>
            <td>
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value={{v}} class="slider" id="myRange">
              </div>
            </td>
          </tr>     
      
          <tr>
            <td><input id="fn" name="fn" required [(ngModel)]="num" #fn="ngModel">
      
            </td>
          </tr>
        </table>
      
        <button type="button" (click)="submit()">Submit</button>
      
      </form>
      <div>
      
      
        <p> {{this.slider.value}}</p>
      
      
      </div>

 -->
<!-- <div class=a>



      <div class="card" style="width: 18rem;">
           
             <h1></h1>
             <div class="card-body">
              <h5 class="card-title">Decrypt</h5>
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value={{v}} class="slider" id="myRange">
              </div>
              <br>
              <input id="fn" name="fn" required [(ngModel)]="num" #fn="ngModel">
              <br>
              <br>
              <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
              <br>
            
              
              <p> {{this.slider.value}}</p>
             
              
            </div>
          </div> 
        </div>


      -->
      
      